li {
    font-size: 30px;
    padding: 10px;
    border: 1px solid #080;
    text-align: center
}


/* Mobile & Tablet Rules xs*/
@media (max-width: 767px) {}
/* Small Screen Rules sm*/
@media (min-width: 768px) and (max-width: 991px) {}
/* Medium Screen Rules md*/
@media (min-width: 992px) and (max-width: 1199px) {}
/* Large Screen Rules lg*/
@media (min-width: 1200px) {}
/*End Recently View*/




























